.custom-button{
    width: 100%;
    padding: 0.5rem;
    color: var(--theme);
    border: 1px solid var(--theme);
    border-radius: 0.4rem;
    background-color: transparent;
    font-size: medium;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.custom-button:hover{
    background-color: var(--theme);
    color: var(--white);

    transition: all 0.5s;
}

.blue-btn{
    background-color: var(--theme);
    color: var(--white);
}

.blue-btn:hover{
    background-color: var(--white);
    color: var(--theme);

    transition: all 0.5s;
}