.my-card-row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;


    flex-wrap: wrap;
    flex: 1;
    padding: 2rem 1rem;
    gap: 1.5rem;
}
.cardstyle{
    box-shadow: var(--shadow);
    font-family: var(--font-family);
    width: 350px;
}