@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root{
  --shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
  --theme: #2970ff;
  --black: #000;
  --white: #fff;
  --font-family: "Kode Mono", monospace
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, label{
  font-family: var(--font-family);
  background-color: transparent;
}




.dashboard-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.transaction-table{
  width: 100%;
}


.input-wrapper{
  width: 100%;
}
.form-wrapper{
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-wrapper p{
  margin: 1rem;
}

.span-text{
  color: var(--theme);
  cursor: pointer;
}
.span-text:hover{
  color: black;
  transition: all 0.3s;
}


.no-transactions{
  width: 70%;
  color: grey;
  height: 300px;
}


.charts{
  width: 100%;
  display:flex;
  padding: 1.5rem;
}
.line-chart{
  width: 70%;
  height: 300;
  box-shadow: var(--shadow);
}